
//    Mixins
// ==============
@mixin center($max-w: null, $top: null, $block: block) {
  max-width: $max-w;
  margin-top: $top;
  display: $block;
  margin-left: auto;
  margin-right: auto;
}


// Media queries

@mixin mq($break) {
  $value: map-get($breakpoints, $break);

  @if $value == null {
    @error "`#{$break}` is not a valid breakpoint name.";
  }

  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}
