//  Variables
// ===========

// colors
$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-frame: #ccc;


// Fonts
$base-font: 'Lato', sans-serif;


// Layout
$flex-b: 100%;


//  Styles
$btn-radius: 5px;
$btns: (
        "default": $color-secondary,
        "error": #e4757a,
        "info": #927bc1,
        "success": #63cc82,
        "warning": #fd7856,
);

// Theme colors

$themes:(
        "col-1" : #927bc1,
        "col-2" : #fd7856,
        "col-3" : #deb2ee,
        "col-4" : #7ee6fd,
        "col-5" : #88d9a0,
        "col-6" : #4da2bb,
        "col-7" : #ec9fa3,
        "col-8" : #fd9f85,
        "col-9" : #e4757a,
        "col-10" : #63cc82,
        "col-11" : $color-secondary,
        "col-12" : #80e8d1,);

// Breakpoints
$breakpoints: ("lg": 768px,);


