//  Variables
// ===========

// colors
$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-frame: #ccc;


// Fonts
$base-font: 'Lato', sans-serif;


// Layout
$flex-b: 100%;


//  Styles
$btn-radius: 5px;
$buttons: (
        "default": $color-secondary,
        "erorr": #e4757a,
        "info": #927bc1,
        "success": #63cc82,
        "warning": #fd7856,
);

// Theme colors
//Todo transfer all col-# coor value to $themes variable
//$themes: (
//  "col-1": #927bc1,
//        //"col-"
//);

// Breakpoints
$breakpoints: ("lg": 768px,);


