//  Variables
// ===========

// colors
$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;

// Fonts
$base-font: 'Lato', sans-serif;
$big-text: 300;

// Layout
$flex-b: 100%;

// Theme colors


// Breakpoints
$breakpoints: (
        "sm": 576px,
        "lg": 768px,);


