/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $btn-radius;
  @each $btn-name, $btn-color in $btns{
    &.#{$btn-name} {
      background-color: $btn-color;
    }
  }
  @each $btn-name, $btn-color in $btns{
    $color-light: lighten($btn-color, 25%);

    &.#{$btn-name}:hover {
      background-color: $color-light;
    }
  }
  @include mq("lg") {
    padding: 10px 30px;
    & + & {
      margin-left: 10px;
    }
  }
}
