/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.bttn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $btn-radius;
  @each $btn-name, $btn-color in $btns{
    &.#{$btn-name} {
      background-color: $btn-color;
    }

   $color-light: lighten($btn-color, 25%);
   
   &.#{$btn-name}:hover {
     background-color: $color-light;
     transition-delay: .1s;
     transition-duration: .2s;
     transition-timing-function: ease-in;
   }
  }

  @include media-q("lg") {
    padding: 10px 30px;
    & + & {
      margin-left: 10px;
    }
  }
}



