/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  flex-basis: $flex-b;
}

.input{
  @include center($top: 10px, $pad: 10px);
  width: 94%;
  border: none;
  border-bottom: 5px solid $color-primary;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

