/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq("lg") {
    @include center($max-w: 1400px)
  }
}

.centered {
  @include mq("lg"){
    @include center($block: null);
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq("lg") {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: $flex-b;
  min-height: 25px;
  padding: 10px;
  border-radius: $btn-radius;
  @include mq("lg"){
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;

    & + & {
      margin-left: 10px;
    }
  }
}

@each $theme, $btn-color in $themes{
  .#{$theme}.theme{
  background-color: $btn-color;
}
}

@for $i from 1 to 12 {
  .col-#{$i}{
    flex-basis: calc-percentage($i);
  }
}


.card {
  flex-basis: $flex-b;
}


