/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  padding-left: 0;
  flex-basis: $flex-b;
  display: flex;
  flex-direction: column;
  @include media-q("lg") {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &-link {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    width: 100%;
    transition: background-color .2s ease-in-out,
    color .2s ease-in-out;
    @include media-q("lg"){
      flex-basis: 100px;
    }
    &:hover {
      color: $white;
      background-color: $color-primary;
    }
  }
}
