/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $base-font;
  color: $color-text;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
  @include font-style($color-primary, $font-w: null, $margin-l: 10px);
}

.headline-secondary {
  @include font-style($color-text);
}

.link {
  @include font-style($color-secondary, $font-w: 700);
}

.blockquote {
  @include font-style($color: null, $margin-l: 20px);
  font-size: 1.5em;
  font-style: italic;
  padding-left: 20px;
  border-left: 8px solid $color-primary;
  border-radius: $btn-radius;
}
